
body {
    background-color: #09f0f6;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 10px;
}

#box {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #8609f6;
    height: 540px;
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    margin: auto;
    padding-top: 15px;
}

.flex-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.flex-item {
    padding: 10px;
}

#bottom {
    padding-top: 25px;
}

.bigBox {
    display: flex;
    height: 550px;
}

#keeperDiv {
    display:none;
}